/* Global Styles and Resets */

:root {
  --clr-primary: 	hsla(218, 82%, 51%, 1);
  --clr-gold: 	hsla(46, 97%, 72%, 1);
  --clr-accent: 	hsla(47, 100%, 96%, 1);
  --clr-lightAccent: 	hsla(47, 100%, 96%, 0.2);
  --clr-smoke: 	hsla(0, 0%, 96%, 1);
  --clr-lightGray: 	hsla(0, 0%, 0%, 0.2);
  --clr-black: 	hsla(0, 0%, 0%, 1);
  --clr-white: 	hsla(0, 0%, 100%, 1);

  --ff-primary: 'Roboto', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem; /* 21px equivalent */
  line-height: 1.5;
}

h1 {
  font-weight: 900;
  line-height: 1.1;
  text-transform: capitalize;
}

h2,
h3,
h4 {
  font-weight: 900;
  line-height: 1.3;
}

h4 {
  font-size: 0.8rem;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0.9em;
}

li {
  list-style: none;
  display: inline-block;
}

li,
button,
::placeholder {
  font-size: 0.7rem;
  font-weight: 300;
}

header,
section {
  padding: 3rem 0;
}

button {
  background-color: var(--clr-gold);
  border: 0.1rem solid var(--clr-black);
  border-radius: 1.6rem 0 1.6rem 1.6rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.5rem;
}

input {
  border: 0.1rem solid var(--clr-black);
  border-radius: 1.6rem 0 0 1.6rem;
  padding: 0.4rem 3rem 0.4rem 0.6rem;
}

input::placeholder {
  color: var(--clr-lightGray);
}

input + button {
  margin-left: -1.5rem;
  padding: 0.55rem 0.6rem 0.45rem 0.6rem;
}

.container {
  margin-inline: auto;
  width: min(90%, 50rem);
}

.flex {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-black {
  color: var(--clr-black);
}

.bg-gold {
  background-color: var(--clr-gold);
}

.bg-light-accent {
  background-color: var(--clr-lightAccent);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.light-bold {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.site-preview-image,
.live-support-chat-image,
.knowledge-base-image {
  width: min(85%, 40rem);
}

.text-center {
  text-align: center;
}

/* HERO / Header Section Styles */

.logo {
  width: 7rem;
}

.hamburger {
  width: 1.5rem;
}

.tablet-navigation {
  display: none;
}
.navigation {
  height: 3.5em ;
  margin-bottom: 2.5em;
}

.navigation li {
  font-size: 0.75rem;
  margin: 0 0.3rem;
}

.navigation button {
  margin-bottom: 0;
}

.navigation.flex {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header p {
  max-width: 35rem;
  margin-inline: auto;
  margin-bottom: 2em;
}

.trial {
  margin-top: 1em;
}

#trial-text,
#trial-image {
  display: inline-block;
}

#trial-image {
  padding-top: px;
}

/* Customer Display Section Styles */

.customers,
.thrivedesk-tile-container {
  padding: 2em 0;
}

.customers {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.customers img {
  max-width: 5rem;
  flex: 1 1 100%;
  height: 1.5rem;
  margin: auto 0.5rem;
}

/* Thrivedesk Intro Section Styles */

.thrivedesk-tile-container {
  position: relative;
  /* background-color: pink; */
}

#startup-card,
#support-card,
#wordpress-card {
  height: 9rem;
  width: 9rem;
  margin: 0 auto;
}

#startup-card {
  background-color: var(--clr-gold);
  position: relative;
  top: 2rem;
  right: 6rem;
  z-index: 3;
}

#support-card {
  background-color: var(--clr-primary);
  color: var(--clr-gold);
  position: relative;
  z-index: 2;
}

#wordpress-card {
  background-color: var(--clr-smoke);
  position: absolute;
  top: 6rem;
  right: 1rem;
  z-index: 1;
}

.thrivedesk-tile-container img {
  height: 3rem;
}

.thrivedesk-tile-container > div {
  padding: 1rem;
  border-radius: .5rem;
}

.thrivedesk-tile-container > p {
  margin-top: 3em;
  padding: 0 2em;
}

/* Live Chat Section Styles */

.live-support-chat-image {
  margin-bottom: 3rem; /* Might have to adjust this when in full screen. Will alter the spacing */
}


/* Feature Section Styles */

.feature-container {
  border-radius: .5rem;
  padding: 1rem;
}

.feature-container > h3 {
  font-weight: 100;
}

.feature-card {
  background: var(--clr-white);
  border-radius: .5rem;
  padding: 1rem 3rem;
  margin: .5rem;
}

.feature-card img,
.reporting-card img {
  height: 2rem;
}


/* Reporting Section Styles */

.kpi-image {
  display: none;
}

.reporting-card img,
.reporting-card h4 {
  display: inline-block;
  vertical-align: middle;
}

.reporting-card h4 {
  margin-bottom: 0;
  padding: 0.5em 0 0 0.5em;
}

.reporting-card p {
  margin-top: 0.9em;
}

.active {
  border: 2px solid var(--clr-primary);
  border-radius: 1.5rem;
  padding: 1em;
}

.active > h2 {
  font-weight: 100;
  margin-bottom: 0;
}

.active.reporting-card {
  /* background-image: url(images/character 1.svg); IDK how to do this*/
}


/* Knowledge Section Styles */

.knowledge-base-images img:nth-child(2) {
  display: none; /* Only doing this to hide the alt and image space until I get the appropraite assets*/
}

/* Media Queries */

@media (min-width:768px) {
  .mobile-navigation {
    display: none;
  }
  .tablet-navigation {
    display: inline-block;
  }
  .flex {
    flex-direction: row;
  }
}

/* @media (min-width:1024px) {

}

@media (min-width:1440px) {

} */

/* @media (min-width:1024px) {
  body {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.1rem;
  }
  h4,
  li {
    font-size: 1.0rem;
  }
  button {
    font-size: 0.9rem;
  }
} */

/* @media (min-width:1000px) {
  body {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.3rem;
  }
  h4,
  li {
    font-size: 1.1rem;
  }
  button {
    font-size: 0.9rem;
  }
  .logo {
    width: 8.5rem;
  }
  .flex {
    flex-direction: row;
  }
} */


/* @media (min-width: 40em) {
  .flex {
    flex-direction: row;
  }
  .flex > * {
  flex-basis: 100%; DO THIS EVERYTIME IF YOU WANT EQUAL COLUMNS
  }

  .flex > * + * {
    margin-left: 2em; ADJACENT SELECTOR This puts a 2em space between any element that has a sibling before it
  }
} */
